.label-header{
    font-size: 2em;
}

.container-half-left{
    display: inline;
}

.container-half-right{
    display: inline;
}

.navbar-nav .nav-link:hover{
    background-color: rgba(100,100,100,0.4);
    color: rgb(50,70,120);
}

.navbar-dark .navbar-nav .nav-link{
    background-color: transparent;
    color:white;
}

.navbar-dark .navbar-nav .nav-link:hover{
    background-color: rgba(100,100,100,0.4);
}

.navbar{
    border-radius: 0;
    padding: 0;
    height: 50px;
}

.container-btn-add-right{
    float: right;
}

.login-container{
    width: 500px;
}

.signActive{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 /*   background-color: green;*/
    background-image: url("../images/icons8-checked_checkbox.png");
}

.signInActive{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 /*   background-color: red;*/
    background-image: url("../images/icons8-unchecked_checkbox.png");
}

.ten {
    width: 10%;
  }
.twenty {
    width: 20%;
}
.thirty {
    width: 30%;
}

.fa-pencil{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/icons8-edit_property.png");
}
.fa-trash-o{
    width: 20px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../images/icons8-trash.png");
}
.fixedHeightContainer
{
  float:left;
  height: 250px;
  width: 100%;
  padding:5px; 
}
.content
{
  height:224px;
   overflow:auto;
}